.packages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    width: 100%;
}

@media only screen and (max-width: 1400px) {
    .packages {
    grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 750px) {
    .packages {
    grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 500px) {
    .packages {
    grid-template-columns: 1fr;
    }
} 

.package {
    background: black;
    width: 100%;
    height: 170px;
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}
.package p {
    line-height: 1.3;
    margin: 0px;
}
.package .content {
    padding: 15px;
    margin-top: -15px;
}

/*Category labels*/
.categories {
    margin-bottom: 10px;
}
.categories .category {
    border: 1px solid white;
    border-radius: 15px;
    border-color: var(--swift-color);
    width: fit-content;
    font-size: 0.75rem;
    padding: 5px 6px 3.5px 6px;
    margin-top: 10px;
    margin-right: 5px;
    float:left;

}